[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/dist/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/dist/start/vim-ansible-yaml"]
	path = .vim/pack/dist/start/vim-ansible-yaml
	url = git@github.com:chase/vim-ansible-yaml.git
