[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/dist/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/govim"]
	path = .vim/pack/plugins/start/govim
	url = git@github.com:govim/govim.git
