[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/dist/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/govim"]
	path = .vim/pack/plugins/start/govim
	url = git@github.com:govim/govim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-protobuf"]
	path = .vim/bundle/vim-protobuf
	url = git@github.com:uarun/vim-protobuf.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/pack/plugins/start/vim-terraform"]
	path = vim/pack/plugins/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
